* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Amsterdam-Four'; 
    src: url('./assets/fonts/amsterdam-four.ttf') format('truetype'); 
}

:root {
  --cor-primaria: #108080;
  --cor-secundaria: #10656b;
  --cor-fonte-principal: #fdfefe;
  --cor-fonte-subtitulo: rgba(255, 255, 255, 0.89);
  --cor-fonte-paragrafo: #e2e7e7f6;
  --cor-primaria-bg: #010f10;
  --cor-borda: rgba(31, 202, 195, 0.50);
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--cor-primaria-bg);
  color: var(--cor-fonte-paragrafo);

  font-style: normal;

  line-height: 1.6;
  padding: 20px;
}

h1 {
  font-family: 'Amsterdam-Four', sans-serif;
  color: var(--cor-primaria);
}


h2 {
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  color: var(--cor-fonte-subtitulo);
  font-size: 48px;
}

h3 {
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  color: var(--cor-fonte-subtitulo);
  font-size: 24px;
}

h4 {
  font-family: "Assistant", sans-serif;
  font-weight: 500;
  color: var(--cor-fonte-subtitulo);
  font-size: 18px;
  margin-bottom: 12px;
}

p {
  color: var(--cor-fonte-paragrafo);
}

/* ---- Iníco - Cabeçalho ---- */

  .header-container {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .header-container a:hover {
    color: var(--cor-primaria);
  }
  
  .logo {
    width: 112px;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .header-container nav ul {
    display: flex;
    flex-direction: row;
    
    margin: 24px;
    
    gap: 16px;
    
    margin-right: 20px;
  }
  
  .header-container nav ul li {
    list-style: none;
  }
  
  .header-container nav a {
    
    font-size: 24px;
    font-weight: 400;
    
    padding: 11px 24px;
    position: relative;
    
    text-align: center;
    text-decoration: none;
    
  }

  .header-container nav ul li a {
    color: var(--cor-fonte-subtitulo);
  }

  .header-container nav ul li a:hover {
    color: var(--cor-fonte-principal);
  }            
  
  .header-container nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--cor-secundaria); 
    transition: width 0.3s ease-out; 
  }
  
  .header-container nav ul li a:hover::after {
    width: 100%;  
  }
  
/*Fim - Cabeçalho */

/* Início - Seção Sobre Mim */

.sobre {
  margin: 64px 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 88px;

}

.sobre figure {
  margin: 20px 0;
  text-align: center;
}

.sobre figure img {
  width: 400px;
  height: auto;
  border: 4px solid var(--cor-borda);
  border-radius: 32px 32px 0 0;
}

.sobre figcaption {
  font-size: 14px;

  color: var(--cor-fonte-paragrafo);
  border: solid 4px var(--cor-borda);
  border-radius: 0 0 32px 32px;
  padding: 4px 8px;
}

.sobre hgroup h1 {
  font-family: 'Amsterdam-Four', sans-serif;
  color: var(--cor-primaria);
  font-weight: 400;
  font-size: 64px;
  margin-bottom: 32px;
} 

.sobre hgroup h2 {
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  color: var(--cor-fonte-subtitulo);
  font-size: 24px;
}

.sobre p {
  color: var(--cor-fonte-paragrafo);
}

.sobre p mark {
  background-color: var(--cor-primaria);
}

/* Fim - Seção Sobre Mim */

/* Início - Seção Projetos */

  .projetos {
    margin: 64px 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .projetos article {
    border: 2px solid var(--cor-borda);
    border-radius: 16px;
    padding: 24px;
  }

  .projetos article:hover {
    border-color: var(--cor-primaria);
  }

  .projetos aside {
    border: 2px solid var(--cor-borda);
    border-radius: 16px;
    padding: 24px;
  }

  .projetos aside h3 {
    margin-bottom: 16px;
  }

  .projetos aside ul {
    display: flex;
    flex-direction: column;
    padding: 12px 32px;
    
  }

  .detalhes-projetos {
    width: 100%;
    border-collapse: collapse;
  } 

  .detalhes-projetos caption, .detalhes-projetos thead tr th, .detalhes-projetos tbody tr td, .detalhes-projetos tfoot tr td {
    border: 1px solid var(--cor-borda);
  }

  .detalhes-projetos caption {
    font-size: 18px;
    font-weight: 600;
    
    padding: 12px 0;
    color: var(--cor-fonte-principal);
    
    background-color: var(--cor-secundaria);

    border-radius: 8px 8px 0 0;
    
  }

  .detalhes-projetos thead tr th {
    padding: 8px 16px;
    
    background-color: var(--cor-primaria);
    color: var(--cor-fonte-principal);
  }

  .detalhes-projetos tbody tr td {
    padding: 8px 16px;
  }

  .detalhes-projetos tbody tr:nth-child(even) {
    background-color: rgba(16, 128, 128, 0.10);
  }

  .detalhes-projetos tfoot tr td {
    padding: 8px 16px;
    
    color: var(--cor-fonte-principal);
    background-color: var(--cor-secundaria);
  }

/* Fim seção Projetos */

/* Início - Contato */

  .contato {
    margin: 0 0 64px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }


  form fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: none;
  }

  form fieldset legend {
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-fonte-paragrafo);
    margin-bottom: 24px;

    text-align: center;
  }

  form label {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-fonte-subtitulo);
  }

  form input, form textarea {
  
    color: var(--cor-fonte-paragrafo);
    font-size: 16px;
    padding: 12px;
    border: 1px solid var(--cor-borda);
    border-radius: 8px;

    background-color: var(--cor-primaria-bg);
    
  }

  form input:focus, form textarea:focus {
    outline: none;
    border-color: var(--cor-primaria);
    background-color: rgba(16, 128, 128, 0.10);
  }

  form button {
    width: 100%;
    padding: 12px;
    margin: 24px auto 0 auto;
    display: block;
    

    border: none;
    border-radius: 8px;

    background-color: var(--cor-secundaria);
    color: var(--cor-fonte-principal);

    font-size: 16px;

    cursor: pointer;

  }

  form button:hover {
    background-color: var(--cor-primaria);
  }


/* Fim - Contato */


/* Início - Footer */

  footer {
    padding-top: 24px;
    border-top: 1px solid var(--cor-borda);
    margin-top: 72px;
    font-size: 14px;
    text-align: center;
  }

  
  #redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  footer img {
    height: 38px; 
    width: auto;
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 8px;
    margin-top: 32px;
  }

  footer img:hover {
    filter: brightness(1.5);
  }


  address {
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  address a {
    color: var(--cor-fonte-paragrafo);
    text-decoration: none;
  }

  address a:hover {
    color: var(--cor-primaria);
  }

  iframe {
    width: 100%;
    max-width: 600px;
    height: 300px;
    border: 2px solid var(--cor-borda);
    border-radius: 16px;
    margin-top: 16px;
  }
 

/* Fim - Footer */